In [1]:
import pandas as pd

### **시리즈(Series)**  
1차원 배열의 값에 각 값에 대응되는 인덱스를 부여할 수 있는 구조를 갖는다.

In [2]:
sr = pd.Series([17, 18, 10, 50], index = ["피자", "치킨", "콜라", "맥주"])
print("시리즈 출력 : ")
print("-" * 15)
print(sr)

시리즈 출력 :
---------------
피자    17
치킨    18
콜라    10
맥주    50
dtype: int64

In [3]:
print("시리즈의 값 : {}".format(sr.values))
print("시리즈의 인덱스 : {}".format(sr.index))

시리즈의 값 : [17 18 10 50]
시리즈의 인덱스 : Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

### **데이터프레임(DataFrame)**  
2차원 리스트를 매개변수로 전달한다.  
행과 열을 가지는 자료구조이다.  
시리즈가 인덱스와 값으로 구성된다면, 데이터프레임은 열, 인덱스, 값으로 구성된다.

In [5]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ["one", "two", "three"]
columns = ["A", "B", "C"]

df = pd.DataFrame(values, index = index, columns = columns)

print("데이터프레임 출력 : ")
print("-" * 18)
print(df)

데이터프레임 출력 :
------------------
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [6]:
# 리스트로 생성하기
data = [
        ['1000', 'Steve', 90.72], 
        ['1001', 'James', 78.09], 
        ['1002', 'Doyeon', 98.43], 
        ['1003', 'Jane', 64.19], 
        ['1004', 'Pilwoong', 81.30],
        ['1005', 'Tony', 99.14],
]

df = pd.DataFrame(data)
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [7]:
# 열 이름 지정하기
df = pd.DataFrame(data, columns=["학번", "이름", "점수"])
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [8]:
# 딕셔너리로 생성하기
data = {
    '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
    '이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
    '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
}

df = pd.DataFrame(data)
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

##### **데이터프레임 조회하기**  
- df.head(n) : 앞 부분을 n개만 보기
- df.tail(n) : 뒷 부분을 n개만 보기
- df['열이름'] : 해당되는 열을 확인

In [9]:
# 앞부분을 3개만 보기
print(df.head(3))

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43

In [10]:
# 뒷 부분을 3개만 보기
print(df.tail(3))

     학번        이름     점수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [11]:
# "학번"에 해당되는 열을 보기
print(df["학번"])

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학번, dtype: object